/*
 * -------------------------------------------------
 *  siteqc Nextflow base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */

process {

  // TODO nf-core: Check the defaults for all processes
  cpus = { check_max( 1 * task.attempt, 'cpus' ) }
  memory = { check_max( 7.GB * task.attempt, 'memory' ) }
  time = { check_max( 4.h * task.attempt, 'time' ) }
  container = 'lifebitai/relate:latest'
  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'ignore' }
}

params {

  // Input data
  input = false
  included_samples = false
  siteqc_results_dir = false

  michigan_ld_file = false
  ancestry_assignment_probs = false
  pcs_ancestry_related = false

  unrelated_1kgp3 = false
  samplelist_1kgp3 = false
  example_eigenvec = false
  example_proj_eigenvec = false

  super_pop_codes = 's3://lifebit-featured-datasets/projects/gel/siteqc/super_pop_codes.tsv'

  // Parameters
  n_pca = 20

  // AWK expressions
  awk_expr_create_final_king_vcf_1 = 'NR==FNR{c[\$1\$2\$3\$4]++;next}; c[\$1\$2\$4\$5] > 0'

}