/*
 * -------------------------------------------------
 *  siteqc Nextflow base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */

process {

  // TODO nf-core: Check the defaults for all processes
  cpus = { check_max( 1 * task.attempt, 'cpus' ) }
  memory = { check_max( 7.GB * task.attempt, 'memory' ) }
  time = { check_max( 4.h * task.attempt, 'time' ) }
  container = 'lifebitai/relate:latest'
  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'ignore' }

  withName: make_bed_all {
    container = 'lifebitai/plink2'
  }
  withName: king_coefficients {
    container = 'lifebitai/plink2'
  }

}

params {

  // Files
  inputDir = false
  input = false

  inputMichiganLDfileExclude = false
  inputAncestryAssignmentProbs = false
  inputPCsancestryrelated = false
  inputFinalPlatekeys = false
  inputUNRELATED_1KGP3 = false
  input1KGP3 = false
  inputSuper_pop_codes = false
  input05both1K100K_eigenvec = false
  inputGELprojection_proj_eigenvec = false

  // Parameters
  n_pca = 20

  // AWK expressions
  awk_expr_create_final_king_vcf_1 = 'NR==FNR{c[\$1\$2\$3\$4]++;next}; c[\$1\$2\$4\$5] > 0'

}