/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run lifebit-ai/relate -profile test
 */
process {
  cpus = 2
  memory = 6.GB
  time = 48.h
  container = 'lifebitai/relate:latest'
  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'ignore' }


  withName: make_bed_all {
    container = 'lifebitai/plink2'
  }
  withName: king_coefficients {
    container = 'lifebitai/plink2'
  }

}

docker.enabled = true

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'

  // Input data
  inputDir = 's3://lifebit-featured-datasets/projects/gel/siteqc/ARtestFiles/Annotation_newtest/'
  input = 's3://lifebit-featured-datasets/projects/gel/siteqc/input.csv'

  inputMichiganLDfileExclude = 's3://lifebit-featured-datasets/projects/gel/siteqc/MichiganLD_liftover_exclude_regions_PARSED.txt'
  inputAncestryAssignmentProbs = 's3://lifebit-featured-datasets/projects/gel/siteqc/aggV2_R9_M30K_1KGP3_ancestry_assignment_probs.tsv'
  inputPCsancestryrelated = 's3://lifebit-featured-datasets/projects/gel/siteqc/aggV2_bedmerge_30KSNPs_labkeyV9_08062020_update_PCsancestryrelated.tsv'
  inputFinalPlatekeys = 's3://lifebit-featured-datasets/projects/gel/siteqc/sampleList.txt'
  inputUNRELATED_1KGP3 = 's3://lifebit-featured-datasets/projects/gel/siteqc/UNRELATED_1KGP3.samples'
  input1KGP3 = 's3://lifebit-featured-datasets/projects/gel/siteqc/1KGP3.sample_table'
  inputSuper_pop_codes = 's3://lifebit-featured-datasets/projects/gel/siteqc/super_pop_codes.tsv'
  input05both1K100K_eigenvec = 's3://lifebit-featured-datasets/projects/gel/siteqc/1KGP3_30K_unrel_autosomes.eigenvec'
  inputGELprojection_proj_eigenvec = 's3://lifebit-featured-datasets/projects/gel/siteqc/1KGP3_30K_unrel_autosomes.eigenvec_TMPPROJ'

  // Parameters
  n_pca = 20

  // AWK expressions
  awk_expr_create_final_king_vcf_1 = 'NR==FNR{c[\$1\$2\$3\$4]++;next}; c[\$1\$2\$4\$5] > 0'

}
