/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run lifebit-ai/relate -profile test
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  // Limit resources so that this can run on Travis
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  
  // Input data
  // TODO nf-core: Specify the paths to your test data on lifebit-ai/test-datasets
  // TODO nf-core: Give any required params for the test so that command line flags are not needed
  query_format_start = '%CHROM %POS %REF %ALT\n'
  query_format_miss1 = '%CHROM:%POS-%REF/%ALT [%GT ] \n'
  //inputDir = 's3://lifebit-featured-datasets/projects/gel/siteqc/ARtestFiles/Annotation_newtest/'
  //input = 's3://lifebit-featured-datasets/projects/gel/siteqc/input.csv'
  inputDir = false
  input = false
  inputMichiganLDfile = 's3://lifebit-featured-datasets/projects/gel/siteqc/MichiganLD_liftover_exclude_regions_PARSED.txt'
  inputMichiganLDfileExclude = 's3://lifebit-featured-datasets/projects/gel/siteqc/MichiganLD_liftover_exclude_regions_PARSED.txt'
  inputAncestryAssignmentProbs = 's3://lifebit-featured-datasets/projects/gel/siteqc/aggV2_R9_M30K_1KGP3_ancestry_assignment_probs.tsv'
  inputPCsancestryrelated = 's3://lifebit-featured-datasets/projects/gel/siteqc/aggV2_bedmerge_30KSNPs_labkeyV9_08062020_update_PCsancestryrelated.tsv'
  inputFinalPlatekeys = 's3://lifebit-featured-datasets/projects/gel/siteqc/sampleList.txt'
  inputProbs200K = 's3://lifebit-featured-datasets/projects/gel/siteqc/aggV2_ancestry_assignment_probs_1KGP3_200K.tsv'
}
