/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run lifebit-ai/relate -profile test
 */
process {

  // TODO nf-core: Check the defaults for all processes
  cpus = { check_max( 1 * task.attempt, 'cpus' ) }
  memory = { check_max( 7.GB * task.attempt, 'memory' ) }
  time = { check_max( 4.h * task.attempt, 'time' ) }
  container = 'lifebitai/relate:2.0dev'
  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'ignore' }
}

docker.enabled = true

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  // Limit resources so that this can run on Travis
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h

  // Input data
  // TODO nf-core: Specify the paths to your test data on lifebit-ai/test-datasets
  // TODO nf-core: Give any required params for the test so that command line flags are not needed
  inputDir = 's3://lifebit-featured-datasets/projects/gel/siteqc/ARtestFiles/Annotation_newtest/'
  input = 's3://lifebit-featured-datasets/projects/gel/siteqc/input.csv'
  inputMichiganLDfile = 's3://lifebit-featured-datasets/projects/gel/siteqc/MichiganLD_liftover_exclude_regions_PARSED.txt'
  inputMichiganLDfileExclude = 's3://lifebit-featured-datasets/projects/gel/siteqc/MichiganLD_liftover_exclude_regions_PARSED.txt'
  inputAncestryAssignmentProbs = 's3://lifebit-featured-datasets/projects/gel/siteqc/aggV2_R9_M30K_1KGP3_ancestry_assignment_probs.tsv'
  inputPCsancestryrelated = 's3://lifebit-featured-datasets/projects/gel/siteqc/aggV2_bedmerge_30KSNPs_labkeyV9_08062020_update_PCsancestryrelated.tsv'
  inputFinalPlatekeys = 's3://lifebit-featured-datasets/projects/gel/siteqc/sampleList.txt'
  inputProbs200K = 's3://lifebit-featured-datasets/projects/gel/siteqc/aggV2_ancestry_assignment_probs_1KGP3_200K.tsv'
  inputUNRELATED_1KGP3 = 's3://lifebit-featured-datasets/projects/gel/siteqc/UNRELATED_1KGP3.samples'
  input1KGP3 = 's3://lifebit-featured-datasets/projects/gel/siteqc/1KGP3.sample_table'
  inputSuper_pop_codes = 's3://lifebit-featured-datasets/projects/gel/siteqc/super_pop_codes.tsv'
  input05both1K100K_eigenvec = 's3://lifebit-featured-datasets/projects/gel/siteqc/1KGP3_30K_unrel_autosomes.eigenvec'
  inputGELprojection_proj_eigenvec = 's3://lifebit-featured-datasets/projects/gel/siteqc/1KGP3_30K_unrel_autosomes.eigenvec_TMPPROJ'
}
